{% extends 'reviews/base.html' %}

{% block content %}
      <br>
      <p class="h1">{{ dish.name }}</p>
      <hr>
      {% if dish.photo %}
            <img src="{{ dish.photo.url }}" style="width: 400px">
            <br>
      {% endif %}
      <hr>

      <p class="h6">Description</p>
      <p class="h6">{{ dish.description }}</p>

      <hr>

      <p class="h6">Recipe</p>
      <p class="h6">{{ dish.receipe }}</p>

      <hr>

      <span class="text-info">Publication Date: </span><span>{{ dish.publication_date }}</span>
      <br>
      {% if not reviews %}
            <hr>
			  {% if user.is_authenticated %}
            	<h3>Be the first one to write a review.</h3>
        	  {% endif %}
      {% else %}
            <span class="text-info">Overall Rating: </span><span class="badge badge-primary badge-pill">{{ dish_rating }}</span>
            <br>
            <hr>
            <h3>Review Comments</h3>
            <ul>
            {% for review in reviews %}
                  <li class="list-group-item">
                        <span class="text-info">Review comment: </span> <span>{{ review.content }}</span>
                        <br>
                        <span class="text-info">Created on: </span><span>{{ review.date_created }}</span>
                        <br>
                        <span class="text-info">Modified on: </span><span>{{ review.date_edited }}</span>
                        <br>
                        <span class="text-info">Rating: </span><span class="badge badge-secondary badge-pill">{{ review.rating }}</span>
                        <br>
                        <span class="text-info">Creator: </span><span>{{ review.creator.username }}</span>
                        <br>
						{% if user.is_staff or user.id == review.creator.id %}
						  <a href="{% url 'review_edit' dish.pk review.pk %}">Edit Review</a>
						{% endif %}
                  </li>
            {% endfor %}
            </ul>
      {% endif %}
	  {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'review_create' dish.pk %}">Add Review</a>
        <a class="btn btn-primary" href="{% url 'dish_media' dish.pk %}">Media</a>
	  {% endif %}

{% endblock %}
