{% extends 'reviews/base.html' %}

{% block content %}
<ul class="list-group">
  {% for item in dish_list %}
  <li class="list-group-item">
      <img src="{{ item.dish.photo.url }}" class="rounded float-left mr-3" style="width: 200px">
      <span class="text-info">Dish Name: </span> <span>{{ item.dish.name }}</span>
      <br>
      <span class="text-info">Publication Date: </span><span>{{ item.dish.publication_date }}</span>
      <br>
      <span class="text-info">Rating: </span><span class="badge badge-primary badge-pill">{{ item.book_rating }}</span>
      <br>
      <span class="text-info">Number of reviews: </span><span>{{ item.number_of_reviews }}</span>
      <br>
      {% if not item.dish_rating %}
      <span class="text-secondary">Provide a rating and write the first review for this dish.</span>
      <br>
      {% endif %}
      <a class="btn btn-primary btn-sm active" role="button" href="{% url 'dish_detail' item.dish.pk %}">Description, recipe and reviews</a></li>
  </li>
  {% endfor %}
</ul>
{% endblock %}